html {
  font: 100%/1.15;
  font-size: 100%;
  line-height: 1.15;
}

/* Layout breakpoint without media query */

body {
  font-family: "Lexend";
  background-color: #e9f2f4;
  max-width: 48rem;
  padding: 0 1rem;
  margin: 1rem auto;
  line-height: 1.75;
}
  
/* Responsive images */
  
nav ul {
  list-style: none url(//:0); /* Remove bullets, without removing semantics */
  list-style-type: none;
  list-style-image: url(//:0);
  list-style-position: outside;
  padding-left: 0; /* Remove left padding for flush left appearance */
  background-color: #1C75BC;
  font-family: "Poppins";
}

nav li {
  margin-top: 1rem; 
}
  
h2 {
  font-family: "Fredoka One";
}

h3 {
  font-family: "Fredoka One";
}
  
p {
  font: 1.05em/1.5 "Lexend";
  line-height: 1.75;
}  
  
/* Switch to horizontal layout */
  
nav ul {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    gap: 1rem;
  }
  
nav li {
     margin-top: 0;
  }

nav a {
  text-decoration: none;
  color: #fff;
}
  
/* Image */  
  
img {
  width: auto;
  max-width: 100%;
  height: auto;
}

a {
  color: #000;
}
