/* Layout breakpoint without media query */

body {
  max-width: 48rem;
  padding: 0 1rem;
  margin: 1rem auto;
  
/* Image */  
  
a {
  color: #000;
}

nav ul {
  list-style: none url(//:0); /* Remove bullets, without removing semantics */
  padding-left: 0; /* Remove left padding for flush left appearance */
}
